@using Domain.Entities
@model Klad2_0.Models.CartIndexViewModel

@{
    ViewBag.Title = "GameStore: ваша корзина";
}


@*НЕ ИПОЛЬЗУЕТСЯ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@




<h2>Ваша корзина</h2>

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Bag
    </div>
    @foreach (CartLine cartLine in Model.Cart.Lines)
    {
        <!-- Товар #1 -->
        <div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
            </div>

            <div class="image">
                <img src="@cartLine.productCart.Address" alt="" />
            </div>

            <div class="description">
                <span>@cartLine.productCart.Name</span>
                <span>Bball High</span>
                <span>White</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="plus.svg" alt="" />
                </button>
                <input type="text" name="name" value="@cartLine.Quantity">
                <button class="minus-btn" type="button" name="button">
                    <img src="minus.svg" alt="" />
                </button>
            </div>

            <div class="total-price">$549</div>
        </div>
    }


</div>

<script type="text/javascript">
    $('.like-btn').on('click', function () {
        $(this).toggleClass('is-active');
    });
</script>

@*<table class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Игра</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.productCart.Name</td>
                <td class="text-right">@line.productCart.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((line.Quantity * line.productCart.Price).ToString("# руб"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("productId", line.productCart.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("# руб")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
    </div>*@

@*$('.minus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value &gt; 1) {
            value = value - 1;
        } else {
            value = 0;
        }

      $input.val(value);

    });

    $('.plus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value &lt; 100) {
            value = value + 1;
        } else {
            value =100;
        }

        $input.val(value);
    });*@