@using Domain.Entities
@model Klad2_0.Models.CartIndexViewModel

@*@{
    ViewBag.Title = "GameStore: ваша корзина";
}*@
<head>
    <link rel="stylesheet" href="~/css/shopping-cart.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="~/lib/bootstrap/dist/js/index.js"></script>

</head>
<body>
    <div class="shopping-cart">
        <!-- Title -->
        <div class="title">
            Ваша корзина
        </div>
        @foreach (CartLine cartLine in Model.Cart.Lines)
        {
            <!-- Товар #1 -->
            <div class="item">
                <div class="buttonsCart">
                    <a class="delete-btn" href="/Home/RemoveLine/@cartLine.productCart.Id"></a> @*href="/Home/RemoveLine/@cartLine.productCart.Id"*@
                    <span class="like-btn"></span>
                </div>

                <div class="image">
                    <img src="~/images/Каталог товаров/@cartLine.productCart.Address" class="imageShoping-cart" width="100" height="110" alt="" />
                </div>

                <div class="description">
                    <span>@cartLine.productCart.Name</span>
                    @*<span>Bball High</span>
                    <span>White</span>*@
                </div>

                <div class="quantity">
                    <a class="plus-btn buttonStyleCart btn button" href="/Home/AddToCart/@cartLine.productCart.Id"><img src="~/images/plus.svg" /></a>
                    @*<button class="plus-btn buttonStyleCart" type="button" name="button">
                        <img src="~/images/plus.svg" alt="" />
                    </button>*@
                    <input type="text" name="name" value="@cartLine.Quantity">
                    @*@Html.Raw(@Html.ActionLink("Добавить в корзину", "AddToCart",
                    new { id = cartLine.productCart.Id }, new { @class = "compItem2  btn  buttonStyleCart" }, "<img src=\"~/ images / minus.svg\" />"))*@
                    <a class="minus-btn buttonStyleCart btn button" href="/Home/RemoveOneProductToCart/@cartLine.productCart.Id"><img src="~/images/minus.svg" /></a>
                    @*<button class="minus-btn buttonStyleCart" type="button" name="button">
                        <img src="~/images/minus.svg" alt="" />
                    </button>*@
                </div>
                <div class="price"> @cartLine.productCart.Price</div>
                <div class="total-price">@(cartLine.productCart.Price * cartLine.Quantity)</div>
            </div>
        }
        <div>
            <a class="total-total-price">@Model.Cart.ComputeTotalValue()</a>
            @Html.ActionLink("Оформить заказ", "Checkout", "Cart", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    <script type="text/javascript">
        $('.like-btn').on('click', function () {
            $(this).toggleClass('is-active');
        });
    </script>

    <script type="text/javascript">
        $('.delete-btn').on('click', function (e) {
            e.preventDefault();
            $.get(this.href, function (data) { $('#Cart').html(data); });

            $(".total-price").each(function () {

                value += parseInt($(this).text());
                console.log(value);
            });
            $('.total-total-price').text(value);        
        });
    </script>

    <script type="text/javascript">
        $('.minus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());
            if (value > 0) {
                value = value - 1;
                $.get(this.href, function (data) { $('#Cart').html(data); });

            }
            else {
                value = 0;
            }

            $input.val(value);
            value = parseInt($this.closest('div').next().text()) * value;
            $this.closest('div').next().next().text(value); //общий счёт для одного товара
            //Скидка для одного товара
            //value = 
            $(".total-price").each(function () {

                value += parseInt($(this).text());
                console.log(value);
            });
            $('.total-total-price').text(value);
                   //$.get("/Cart/GetTotalPrice/", function (data) { $('.total-total-price').text(data); });                //Общий счёт для всех товаров
            //$this.closest('div').next().text(4);



        });
    </script>

    <script type="text/javascript">
        $('.plus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());
            if (value < 100) {
                value = value + 1;
                $.get(this.href, function (data) { $('#Cart').html(data); });
               
            }
            else {
                value = 100;
            }

            $input.val(value);
            value = parseInt($this.closest('div').next().text()) * value;
            $this.closest('div').next().next().text(value); //общий счёт для одного товара

            value = 0;
            //$('.total-price').each(function () {
            //    value += data;
            //});
            $(".total-price").each(function () {
                
                value += parseInt($(this).text());
                console.log(value);
            });
            $('.total-total-price').text(value);
                 //Общий счёт для всех товаров                                              //Скидка для одного товара
        });                                                 //Общий счёт для всех товаров

    </script>

    @*<table class="table">
            <thead>
                <tr>
                    <th>Кол-во</th>
                    <th>Игра</th>
                    <th class="text-right">Цена</th>
                    <th class="text-right">Общая цена</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.productCart.Name</td>
                    <td class="text-right">@line.productCart.Price.ToString("# руб")</td>
                    <td class="text-right">
                        @((line.Quantity * line.productCart.Price).ToString("# руб"))
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @Html.Hidden("productId", line.productCart.Id)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue().ToString("# руб")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
            @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
        </div>*@

    @*$('.minus-btn').on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value &gt; 1) {
                value = value - 1;
            } else {
                value = 0;
            }

          $input.val(value);

        });

        $('.plus-btn').on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value &lt; 100) {
                value = value + 1;
            } else {
                value =100;
            }

            $input.val(value);
        });*@
    @*@if(Model!=null)
        {

        <table class="table">
            <thead>
                <tr>
                    <th>Кол-во</th>
                    <th>Игра</th>
                    <th class="text-right">Цена</th>
                    <th class="text-right">Общая цена</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.productCart.Name</td>
                    <td class="text-right">@line.productCart.Price.ToString("# руб")</td>
                    <td class="text-right">
                        @((line.Quantity * line.productCart.Price).ToString("# руб"))
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                        @Html.Hidden("productId", line.productCart.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue().ToString("# руб")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
            @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
        </div>
        }
        else {
        <div> Ваша корзина пуста</div>
        }*@
</body>
