@using Domain.Entities
@model Klad2_0.Models.CartIndexViewModel

@*@{
    ViewBag.Title = "GameStore: ваша корзина";
}*@
<head>
    <link rel="stylesheet" href="~/css/shopping-cart.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="~/lib/bootstrap/dist/js/index.js"></script>

</head>
<body>
    <div class="shopping-cart">
        @if (Model.Cart.Lines.Count() != 0)
        {<!-- Title -->
            <div class="title">
                <p>Ваша корзина</p>
                <div class="column">
                    <div class="textColumn textColumnName">
                        Наименование
                    </div>
                    <div class="textColumn textColumnQuantity">
                        Количество
                    </div>
                    <div class="textColumn textColumnPrice">
                        Цена
                    </div>
                    <div class="textColumn textColumnAmount">
                        Сумма
                    </div>
                </div>
            </div>
            @foreach (CartLine cartLine in Model.Cart.Lines)
            {
                <!-- Товар #1 -->
                <div class="item">
                    <div class="buttonsCart">
                        <a class="delete-btn" href="/Home/RemoveLine/@cartLine.productCart.Id"></a> @*href="/Home/RemoveLine/@cartLine.productCart.Id"*@
                        <span class="like-btn"></span>
                    </div>

                    <div class="image">
                        <img src="~/images/Каталог товаров/@cartLine.productCart.Address" class="imageShoping-cart" width="100" height="110" alt="" />
                    </div>

                    <div class="description">
                        <span>@cartLine.productCart.Name</span>
                        @*<span>Bball High</span>
                        <span>White</span>*@
                    </div>

                    <div class="quantity">
                        <a class="plus-btn buttonStyleCart btn button" href="/Home/AddToCart/@cartLine.productCart.Id"><img src="~/images/plus.svg" /></a>
                        @*<button class="plus-btn buttonStyleCart" type="button" name="button">
                            <img src="~/images/plus.svg" alt="" />
                        </button>*@
                        <input type="text" name="name" value="@cartLine.Quantity">
                        @*@Html.Raw(@Html.ActionLink("Добавить в корзину", "AddToCart",
                        new { id = cartLine.productCart.Id }, new { @class = "compItem2  btn  buttonStyleCart" }, "<img src=\"~/ images / minus.svg\" />"))*@
                        <a class="minus-btn buttonStyleCart btn button" href="/Home/RemoveOneProductToCart/@cartLine.productCart.Id"><img src="~/images/minus.svg" /></a>
                    </div>
                    <div>
                        <div class="PriceW">Цена</div>
                        <div class="price"> @cartLine.productCart.Price руб</div>
                    </div>

                    <div>
                        <div class="total-priceW">Итого</div>
                        <div class="total-price">@(cartLine.productCart.Price * cartLine.Quantity) руб</div>
                    </div>
                </div>
            }
            <div class="Containerdelivery-price">
                Доставка:
                <a class="delivery-price">@Model.Cart.Delivery руб</a>
            </div>
            <div class="Total">

                <div class="ContainerTotal-total-price">
                    Итого к оплате:
                    <a class="total-total-price">@Model.Cart.ComputeTotalValueWithDelivery() руб</a>
                </div>
                @Html.ActionLink("Оформить заказ", "Checkout", "Cart", null, new { @class = "btn buttonOrder" })
            </div>
        }
        else
        {
            <div class="title">
                Ваша корзина пуста
            </div>
        }
    </div>

        <script type="text/javascript">
            $('.like-btn').on('click', function () {
                $(this).toggleClass('is-active');
            });
        </script>

                <script type="text/javascript">
                    $('.minus-btn').on('click', function (e) {
                        e.preventDefault();
                        var $this = $(this);
                        var $input = $this.closest('div').find('input');
                        var value = parseInt($input.val());
                        if (value > 0) {
                            value = value - 1;
                            $.get(this.href, function (data) {
                              //  $('#Cart').html(data);
                                $.get("/Home/GetQuantity", function (data) {
                                    $('.countDigit').text(data);
                                })
                            });

                        }
                        else {
                            value = 0;
                        }
                        
                            //$input.val(value);
                            //value = parseInt($this.closest('div').next().text()) * value;
                            //$this.closest('div').next().next().text(value + " руб"); //общий счёт для одного товара
                            
                            //value = 0;
                            //$(".total-price").each(function () {

                            //    value += parseInt($(this).text());
                            //    console.log(value);
                            //});
                            //$('.total-total-price').text(value + " руб");
                        
                        
                            $input.val(value);
                            value = parseInt(($this.closest('div').next().children('.price')).text()) * value;
                            ($this.closest('div').next().next().children('.total-price')).text(value + " руб"); //общий счёт для одного товара
                            
                            //Скидка для одного товара
                            //value =
                            value = 0;
                            $(".total-price").each(function () {

                                value += parseInt($(this).text());
                                console.log(value);
                        });
                        if (value > @Cart.SUMM_FOR_SALE) {
                            $('.total-total-price').text(value + " руб");
                            $('.delivery-price').text("БЕСПЛАТНО");
                        }
                        else {
                            $('.total-total-price').text(value + @Cart.DELIVERY + " руб");
                            $('.delivery-price').text(@Cart.DELIVERY + " руб");
                        }
                        
                    });
                </script>

                <script type="text/javascript">
                    $('.plus-btn').on('click', function (e) {
                        e.preventDefault();
                        var $this = $(this);
                        var $input = $this.closest('div').find('input');
                        var value = parseInt($input.val());
                        if (value < 100) {
                            value = value + 1;
                            $.get(this.href, function (data) {
                                //  $('#Cart').html(data);
                                $.get("/Home/GetQuantity", function (data) {
                                    $('.countDigit').text(data);
                                })
                            });
                        }
                        else {
                            value = 100;
                        }
                        $input.val(value);
                        value = parseInt(($this.closest('div').next().children('.price')).text()) * value;
                        ($this.closest('div').next().next().children('.total-price')).text(value + " руб"); //общий счёт для одного товара

                        //Скидка для одного товара
                        //value =
                        value = 0;
                        $(".total-price").each(function () {

                            value += parseInt($(this).text());
                            console.log(value);
                        });

                        if (value > @Cart.SUMM_FOR_SALE) {
                            $('.total-total-price').text(value + " руб");
                            $('.delivery-price').text("БЕСПЛАТНО");
                        }
                        else {
                            $('.total-total-price').text(value + @Cart.DELIVERY + " руб");
                            $('.delivery-price').text(@Cart.DELIVERY + " руб");
                        }

                        //$input.val(value);
                        //value = parseInt($this.closest('div').next().text()) * value;
                        //$this.closest('div').next().next().text(value + " руб"); //общий счёт для одного товара

                        //value = 0;
                        ////$('.total-price').each(function () {
                        ////    value += data;
                        ////});
                        //$(".total-price").each(function () {

                        //    value += parseInt($(this).text());
                        //    console.log(value);
                        //});
                        //$('.total-total-price').text(value + " руб");//Общий счёт для всех товаров
                        ////Скидка для одного товара
                    });

                </script>


</body>
