<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/css/MegaMenu.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/Header_Background.css" />
    <link rel="stylesheet" href="~/css/Cart.css" />

    <link rel="stylesheet" href="~/css/Search.css" />
    <link rel="stylesheet" href="~/css/logotip.css" />
    <link rel="stylesheet" href="~/css/ErrorStyles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="~/images/leaf-nature-forest-brand-plant_icon-icons.com_59259.ico" type="image/x-icon">
    <link href="https://kladovayaltay.ru/favicon.ico" rel="shortcut icon" />
    <link href="https://kladovayaltay.ru/favicon.ico" rel="icon" type="image/x-icon" />

    <environment include="Development"></environment>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*@Scripts.Render("~/scripts/jquery-1.10.2.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*@





    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(55546735, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true });</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55546735" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    @*бутстрап*@
    @*<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>*@

    <title>Кладовая Алтая - Всё самое натуральное</title>
    <meta name="description" content="В нашем магазине «Кладовая Алтая» представлены натуральные препараты и косметика из Алтая. Целебная сила сибирской природы в каждом продукте для вашей красоты и здоровья.Кладовая Алтая Абакан, Кладовая Алтая Ачинск" />



</head>
<body scroll="yes">
    <div class="ColorHeader">
        <!--меню-->

        <div class="GeneralHeader">
            <div class="ColorHeader posHeader">
                <div class="test_color">
                    <div class="logotip">
                        <img src="~/images/TitleKladovaya.png">
                        @*<
                https://online-letters.ru/letters/cyrillic/script/create.html*@
                    </div>
                    <a href="~/Home/Main" class="ColourChange poseMain underline">ГЛАВНАЯ</a>
                    <a href="~/Home/Contact" class="ColourChange poseContact underline">КОНТАКТЫ</a>
                    <a href="~/Home/Feedback" class="ColourChange poseContact underline">ОТЗЫВЫ</a>

                    <div class="divSearch">
                        <form asp-controller="Home" asp-action="IndexSearch" class="formSearch" method="get">

                            <input id="inputSearch" type="text" placeholder="Искать здесь..." data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' name="search">
                            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                            <script src="~/lib/jquery/dist/jquery.js"></script>
                            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                            <script>
                                $("[data-autocomplete-source]").each(function () {
                                    var target = $(this);
                                    target.autocomplete({ source: target.attr("data-autocomplete-source") });
                                });
                            </script>
                            <button class="buttonSearch" type="submit"></button>
                        </form>
                    </div>
                    <div class="CartOnLayout">
                        <div class="PositionCart">
                            <a href="/Cart/Summary/">
                                <img src="~/images/cart.png" class="imgCart" alt="Пример">
                            </a>
                        </div>
                        <div class="textSummaryCart" id="Cart">
                            <p>Ваша корзина:</p>
                        </div>
                    </div>
                </div>


            </div>

            <!--вторая полоса-->
            <div class="line_2">

            </div>
            <div>
                <nav class="container">
                    <ul class="top-menu">
                        <li>
                            <a  class="Togle" href="/ЗДОРОВЬЕ">ЗДОРОВЬЕ</a>
                            <ul id="TogleSub" class="submenu">
                                <li >
                                    <ul >
                                        <li><a href="/ЗДОРОВЬЕ Похудение">Борьба с лишним весом</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Дыхательная система">Дыхательная система</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для сердца Для сосудов">Для сердца и сосудов</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Укрепление иммунитета">Укрепление иммунитета</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для зубов">Для зубов</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/ЗДОРОВЬЕ Для мозговой активности">Для мозговой активности</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для горла и носа">Для горла и носа</a></li>
                                        <li><a href="/ЗДОРОВЬЕ От варикоза От геморроя">При варикозе и геморрое</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Пищеварительная система">Пищеварительная система</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для слуха">Для слуха</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/ЗДОРОВЬЕ Нервная система">Нервная система</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для печени Для почек">Для печени и почек</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для суставов">Для суставов</a></li>
                                        <li><a href="/ЗДОРОВЬЕ При возрастных изменениях">При возрастных изменениях</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Для зрения">Для зрения</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/ЗДОРОВЬЕ От аллергии">От аллергии</a></li>
                                        <li><a href="/ЗДОРОВЬЕ От паразитов">От паразитов</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Покровная система">Покровная система</a></li>
                                        <li><a href="/ЗДОРОВЬЕ При диабете">При диабете</a></li>
                                        <li><a href="/ЗДОРОВЬЕ Эндокринная система">Эндокринная система</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a class="Togle" href="/ТЕЛО">ТЕЛО</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="/Для ТЕЛА Молочко для тела">Молочко для тела</a></li>
                                        <li><a href="/Для ТЕЛА Кремы">Кремы</a></li>
                                        <li><a href="/Для ТЕЛА Для Ног">Ноги</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>

                                        <li><a href="/Для ТЕЛА Средства для ванн">Средства для ванн</a></li>
                                        <li><a href="/Для ТЕЛА Для Рук">Руки</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="Togle" href="/ЛИЦО">ЛИЦО</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="/Для ЛИЦА Для ресниц">Для ресниц</a></li>
                                        <li><a href="/Для ЛИЦА Очищение">Очищение</a></li>
                                        <li><a href="/Для ЛИЦА Кремы">Кремы</a></li>
                                        <li><a href="/Для ЛИЦА Маски">Маски</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/Для ЛИЦА Подарочные наборы">Подарочные наборы</a></li>
                                        <li><a href="/Для ЛИЦА Тоники">Тоники</a></li>
                                        <li><a href="/Для ЛИЦА Сыворотки">Сыворотки</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a  class="Togle" href="/ВОЛОСЫ">ВОЛОСЫ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="/Для ВОЛОС Кондиционеры">Кондиционеры</a></li>
                                        <li><a href="/Для ВОЛОС Капли и капсулы">Капли и капсулы</a></li>
                                        <li><a href="/Для ВОЛОС Маски">Маски</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/Для ВОЛОС Ополаскиватели">Ополаскиватели</a></li>
                                        <li><a href="/Для ВОЛОС Шампуни">Шампуни</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a  href="/ОНКОЛОГИЯ">ОНКОЛОГИЯ</a>

                        </li>

                        <li>
                            <a class="Togle" href="/ЖЕНЩИНАМ">ЖЕНЩИНАМ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="/ЖЕНЩИНАМ Здоровье">Здоровье </a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/ЖЕНЩИНАМ Средства для интимной гигиены">Средства для интимной гигиены</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="Togle" href="/МУЖЧИНАМ">МУЖЧИНАМ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="/Мужчинам Здоровье">Здоровье </a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="/МУЖЧИНАМ Средства для интимной гигиены">Средства для интимной гигиены</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/ДЕТЯМ">ДЕТЯМ</a>
                        </li>
                        <li>
                            <a href="/ПОДАРОЧНЫЕ НАБОРЫ">ПОДАРОЧНЫЕ НАБОРЫ</a>
                        </li>

                    </ul>
                </nav>
                @*<nav class="positionNav">
                        <ul class="topmenu">
                            @foreach (var _category in Category.category)
                            {
                                <li>
                                    <a href="/@_category.Key">@_category.Key</a>
                                    <ul class="submenu">
                                        @foreach (var _category2 in _category.Value)
                                        {
                                            <li>  <a href="/@_category2 ">@_category2</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>*@
            </div>
        </div>
        @*<div class="navbar navbar-inverse" role="navigation">
                <a class="navbar-brand" href="#">Корзина</a>
                @Url.Action("","Summary", "Home")
            </div>*@



        <main class="backgroundbody">

            @*<table class="table-condensed">*@

            @*</table>*@
            <!--основной контент-->
            <div class="container body-content">
                @RenderBody()
            </div>
            @*<span style="position: relative; z-index: -2;">
                    @Html.ActionLink("Корзина", "AddToCart",
                new { id = -1 }, new { @class = "Cart" } )
                </span>*@
        </main>

        @*<footer class="footer1">
                <p>© 2019 - Кладовая Алтая</p>
            </footer>*@

    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(function () {
            if (innerWidth < 768) {
                $('.Togle').on('click', function (e) {
                    e.preventDefault(); 
                    $(this).next().toggleClass("TogleShow").slideToggle(300);
                    //$(this).next().slideToggle(300, function () {
                    //    if ($(this).css('display') === 'none') {
                    //        $(this).removeAttr('style');
                    //    }
                    //});
                });

            }
        });
    </script>
    <script type="text/javascript">
            $(function () {
                $.ajaxSetup({ cache: false });
                //если отрицательное значение (-1), то нужно просто получить Корзину
                    $.get("/Home/AddToCart/-1", function (data) {
                        $('#Cart').html(data);
                    });
            })
        </script>

</body>
</html>