
@using Klad.Models
@model IndexViewModel
@*подключаем все tag-хелперы*@
@addTagHelper "*, Klad"

@{
    ViewData["Title"] = "Каталог товаров";
    //   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Catalog.css" />
    <link rel="stylesheet" href="~/css/Pages2.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> пакость*@
    <link rel="stylesheet" href="~/css/ModalWindow.css">
    @*бутстрап*@
    @*<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>*@


    @*<link rel="stylesheet" href="~/css/StyleSheet.css" />
        <link rel="stylesheet" href="~/css/Header_Background.css" />
        <link rel="stylesheet" href="~/css/Search.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/MegaMenu.css" />*@

</head>
<body>

    @*каталог*@
    <div class="parent">
        @foreach (var product in Model.Products)
        {
        <div class="border">
            <div class="wrap">
                <div class="product-wrap">
                    @*<a href=""><img src="~/images/@product.Category/@product.Category2/@product.Address"></a> изменилась в корне вся система из-за ручного мега меню*@
                    <a><img src="~/images/Каталог товаров/@product.Address" class="imgCatalog"></a>
                </div>
                <div class="loop-action">
                    @*<a href=" @Html.ActionLink(c.Name, "Details",
            new { id = c.Id }, new { @class = "compItem" })" class="add-to-cart btn open-modal" data-modal="#modal1">Быстрый просмотр</a>*@

                    @Html.ActionLink("Просмотр", "Details",
                        new { id = product.Id, returnUrl = ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}") }, new { @class = "compItem btn" } )

                    @Html.ActionLink("Добавить в корзину", "AddToCart","Cart",
    new { id = product.Id }, new { @class = "compItem2  btn" } )
                    <div class="DisplayHide goToCart">
                        <div style="height:0;">Товар добавлен в корзину</div>
                        @Html.ActionLink("Перейти в корзину", "Summary", "Cart", new {returnUrl = ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}") },
          new { @class = "btn btnOrange"} )
                    </div>
                    @*<a class="loop-add-to-cart">В корзину</a>*@

                    @*@using (Html.BeginForm("AddToCart", "HOME"))
            {
                <div class="pull-right">
                    @Html.Hidden("productId", product.Id)
                    @Html.Hidden("returnUrl", ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}"))
                    <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                </div>
            }*@

                </div>
            </div>

            <div class="product-info">
                @Html.ActionLink(product.Name, "ViewProduct",
                        new { id = product.Id, returnUrl = ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}") }, new { @class = "product-title ColourChangeModal" } )
            </div>
            <div class="priceInCatalog">@product.Price.00₽</div>

        </div>

        }
    </div>


    @*постраничная навигация*@
    <div class="paginationFlex">
        <ul class="pagination modal-1">

            @if (Model.Pages.FirstArrow == true)
            {

                <li>
                    @*@Html.ActionLink("Быстрый просмотр", "Details",
                        new { id = product.Id }, new { @class = "compItem add-to-cart btn open-modal" } )*@
                    <a href="/IndexSearch/@Model.CurrentCategory/1">Первая</a>
                </li>
                <li> <a href="/IndexSearch/@Model.CurrentCategory/@(Model.Pages.CurrentPage-1)" class="prev">&laquo</a></li>
            }
            @for (int i = Model.Pages.FirstPage; i <= Model.Pages.LastPage; i++)
            {
                @if (Model.Pages.CurrentPage == i)
                {
                    <li> <a href="/IndexSearch/@Model.CurrentCategory/@i" class="active">@i</a></li>
                }
                else
                {
                    <li> <a href="/IndexSearch/@Model.CurrentCategory/@i">@i</a></li>
                }
            }

            @if (Model.Pages.LastArrow == true)
            {
                <li> <a href="/IndexSearch/@Model.CurrentCategory/@(Model.Pages.CurrentPage+1)" class="next">&raquo;</a></li>
            }

        </ul>
    </div>


    @*//описание категорий внизу*@
    <div class="DescriptionParentCatalog">

        @foreach (var DicCatalogKey in Model.DiscriptionCatalog.Keys)
        {
            if (DicCatalogKey == Model.CurrentCategory)
            {
                foreach (var Value in Model.DiscriptionCatalog[DicCatalogKey])
                {
                    <div class="DescriptionHeaderCatalog">
                        <a>@Value.Key </a>
                    </div>
                    <div class="DescriptionTextCatalog">
                        @Value.Value
                    </div>
                }
            }
        }

    </div>

    @if (Model.Products.Count() > 3)
    {
        <div class="foot">
            <div class="footbox">
                <div class="footImg">
                    <img src="https://x-lines.ru/letters/i/cyrillicscript/0605/f78808/30/0/4nppbq6osdemjwf64n3pbcgtthopbrgozxeafwfo4g8o.png">
                </div>
                <div>
                    @*<p>© 2019 - Кладовая Алтая</p>*@
                    <div class="footText"> 8–933–301–29–68 Ачинск</div>
                    <div class="footText"> 8–902–961–06–92 Абакан</div>
                </div>
            </div>
        </div>
    }

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="~/lib/bootstrap/dist/js/index.js"></script>

    @*для модального окна*@
    @*@section scripts
        {*@
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

    </script>


    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem2").click(function (e) {
                e.preventDefault();
                //$(this).closest().find(".DisplayHide").addClass("DisplayShow");
                $(this).addClass("DisplayHide");
                //.addClass("DisplayHide");//скрываем кнопку добавить в корзину
                $(this).next().addClass("DisplayShow");//показываем кнопку перейти в корзину
                $.get(this.href, function (data) {//увеличиваем число товаров
                    $.get("/Cart/GetQuantity", function (data) {//пишем на корзине число товаров
                        $('.countDigit').text(data);
                    })

                    //  $('#Cart').html(data);
                    //$('#modDialog').modal('show');
                });
            });
        })
    </script>
    @*}*@
</body>
</html>