@model Domain.Entities.Product
<head>
    @*<link rel="stylesheet" href="~/css/Catalog.css" />*@
    <link rel="stylesheet" href="~/css/Pages2.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">*@

    @*бутстрап*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/css/Catalog.css" />
    <link rel="stylesheet" href="~/css/ModalWindow.css" />
</head>
<div class="modal-content MyTop minWidthModalViewProduct ">
    <div class="modal-header textHeadModal">
        <div class="textHeadInputModal textHeadHeadModal">@Model.Name</div>
    </div>
    <div class="modal-body flexModal">
        @if (!string.IsNullOrEmpty(Model.Address))
        {
            <div class="photo">
                <a><img src="~/images/Каталог товаров/@Model.Address" class="imgHeight"></a>
            </div>
        }
        else
        {
            <div class="photo">
                <a>
                    <img src="@Url.Action("GetImage", "Home",
                    new { Model.Id })" class="imgHeight">
                </a>
            </div>
        }
        <div class="DescriptionModal textModal">
            <a>@Html.Raw(Model.Description) </a>
        </div>
    </div>
    @if (Model.IndicationsForUse != null || Model.Composition != null)
    {
        <div class="modal-body DescriptionModal topBorderModal ">
            @if (!string.IsNullOrEmpty(Model.FullDescription))
            {
                <div class="textMarginModal textModal">
                    @Html.Raw(Model.FullDescription)
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.IndicationsForUse))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Показания к применению: </span>@Html.Raw(Model.IndicationsForUse)</div>

            }
            @if (!string.IsNullOrEmpty(Model.Composition))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Состав: </span>@Html.Raw(Model.Composition)</div>

            }
            else if (!string.IsNullOrEmpty(Model.CompositionMorning))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Утренный состав: </span>@Html.Raw(Model.CompositionMorning)</div>
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Вечерний состав: </span>@Html.Raw(Model.CompositionEvening)</div>
            }
            @if (!string.IsNullOrEmpty(Model.MethodOfUse))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal">Способ применения: </span>@Html.Raw(Model.MethodOfUse) </div>
            }

            @if (!string.IsNullOrEmpty(Model.Contraindications))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Противопоказания: </span>@Html.Raw(Model.Contraindications)</div>
            }
            @if (!string.IsNullOrEmpty(Model.FormRelease))
            {
                <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Форма выпуска: </span>@Html.Raw(Model.FormRelease)</div>
            }
            @if (!string.IsNullOrEmpty(Model.ShelfLife))
            {
                <div class="textMarginModal   textModal"> <span class="textHeadInputModal ">Срок годности: </span>@Html.Raw(Model.ShelfLife) </div>
            }
            @if (!string.IsNullOrEmpty(Model.StorageConditions))
            {
                <div class="textMarginModal   textModal"> <span class="textHeadInputModal">Условия хранения: </span>@Html.Raw(Model.StorageConditions) </div>
            }
            
        </div>
    }
</div>
