@using Domain.Entities
@model Klad2_0.Models.ViewProductViewModel
<head>
    @*<link rel="stylesheet" href="~/css/Catalog.css" />*@
    <link rel="stylesheet" href="~/css/Pages2.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">*@

    @*бутстрап*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/css/shopping-cart.css" />
    <link rel="stylesheet" href="~/css/Catalog.css" />
    <link rel="stylesheet" href="~/css/ModalWindow.css" />



    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="~/lib/bootstrap/dist/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/slick-1.8.1/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick-1.8.1/slick-1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="~/lib/slick-1.8.1/slick-1.8.1/slick/slick.min.js"></script>
</head>
<div class="modal-content MyTop minWidthModalViewProduct ">
    <div class="modal-header textHeadModal">
        <div class="textHeadInputModal textHeadHeadModal">@Model.product.Name</div>
    </div>
    <div class="modal-body flexModal">
        <div class="PicturePlusPrice">
            @if (!string.IsNullOrEmpty(Model.product.Address))
            {
                <div class="photo">
                    <a><img src="~/images/Каталог товаров/@Model.product.Address" class="imgHeight"></a>
                </div>
            }
            else
            {
                <div class="photo">
                    <a>
                        <img src="@Url.Action("GetImage", "Home",
                    new { Model.product.Id })" class="imgHeight">
                    </a>
                </div>
            }
            <div class="BlockPrice">
                <div class="priceInCatalog priceViewProduct">@Model.product.Price.00₽</div>

                <div class="btnAddToCartFromDetail">
                    @Html.ActionLink("Добавить в корзину", "AddToCart","Cart",
               new { id = Model.product.Id }, new { @class = "compItem2  btn btnOrange btnViewProd" } )
                </div>
                <div id="DisplayHide" class="DisplayHide goToCart" style="text-align:center !important; white-space: initial">
                    <div style="color:black !important">Товар добавлен в корзину</div>
                    @Html.ActionLink("Перейти в корзину", "Summary", "Cart", new { returnURL = "" }, new { @class = "btn btnOrange btnViewProd" })
                </div>
                <div class="btnAddToCartFromDetail">
                    <a class="btn ContinueOrder btn-return btnViewProd" style="float:initial; margin-right:initial; width: 124px;" href="/Home/ReturnUrl">Вернуться в каталог</a>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".compItem2").click(function (e) {
                        e.preventDefault();
                        //$(this).closest().find(".DisplayHide").addClass("DisplayShow");
                        // $(this).closest().next().addClass("DisplayShow");//показываем кнопку перейти в корзину //Этот скрипт немного отличается от других
                        $("#DisplayHide").addClass("DisplayShow");
                        $(this).addClass("DisplayHide");
                        $(this).closest('div').addClass("white-spaceInitial")
                        //.addClass("DisplayHide");//скрываем кнопку добавить в корзину
                        //  $(this).next().addClass("DisplayShow");//показываем кнопку перейти в корзину

                        $.get(this.href, function (data) {//увеличиваем число товаров
                            $.get("/Cart/GetQuantity", function (data) {//пишем на корзине число товаров
                                $('.countDigit').text(data);
                            })
                        });
                    });
                })
            </script>
        </div>
        <div class="DescriptionModal textModal">
            @Html.Raw(Model.product.Description)
            
        </div>
        </div>
        @if (Model.product.IndicationsForUse != null || Model.product.Composition != null)
        {
            <div class="modal-body DescriptionModal topBorderModal ">
                @if (!string.IsNullOrEmpty(Model.product.FullDescription))
                {
                    <div class="textMarginModal textModal">
                        @Html.Raw(Model.product.FullDescription)
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.product.IndicationsForUse))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Показания к применению: </span>@Html.Raw(Model.product.IndicationsForUse)</div>

                }
                @if (!string.IsNullOrEmpty(Model.product.Composition))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Состав: </span>@Html.Raw(Model.product.Composition)</div>

                }
                else if (!string.IsNullOrEmpty(Model.product.CompositionMorning))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Утренный состав: </span>@Html.Raw(Model.product.CompositionMorning)</div>
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Вечерний состав: </span>@Html.Raw(Model.product.CompositionEvening)</div>
                }
                @if (!string.IsNullOrEmpty(Model.product.MethodOfUse))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal">Способ применения: </span>@Html.Raw(Model.product.MethodOfUse) </div>
                }

                @if (!string.IsNullOrEmpty(Model.product.Contraindications))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Противопоказания: </span>@Html.Raw(Model.product.Contraindications)</div>
                }
                @if (!string.IsNullOrEmpty(Model.product.FormRelease))
                {
                    <div class="textMarginModal textModal"> <span class="textHeadInputModal  ">Форма выпуска: </span>@Html.Raw(Model.product.FormRelease)</div>
                }
                @if (!string.IsNullOrEmpty(Model.product.ShelfLife))
                {
                    <div class="textMarginModal   textModal"> <span class="textHeadInputModal ">Срок годности: </span>@Html.Raw(Model.product.ShelfLife) </div>
                }
                @if (!string.IsNullOrEmpty(Model.product.StorageConditions))
                {
                    <div class="textMarginModal   textModal"> <span class="textHeadInputModal">Условия хранения: </span>@Html.Raw(Model.product.StorageConditions) </div>
                }

            </div>
        }


    </div>
<section class="section" style="margin-top: 100px  !important">
    <div class="section_header">
        <h2 class="section_title">Возможно, вас заинтересуют</h2>
    </div>
    <div class="parent">
        <div class="autoplaySlick">
            @foreach (var product in Model.RecomendProducts)
            {
                <div>
                    <div class="border borderSlider">
                        <div class="wrap">
                            <div class="product-wrap">
                                <a><img src="~/images/Каталог товаров/@product.Address" class="imgCatalog"></a>
                            </div>
                            <div class="loop-action">
                                @Html.ActionLink("Просмотр", "Details","Cart",
                                    new { id = product.Id }, new { @class = "compItem btn" } )
                                @Html.ActionLink("Добавить в корзину", "AddToCart","Cart",
    new { id = product.Id }, new { @class = "compItem2  btn" } )
                                @*<div class="DisplayHide goToCart">
                                                  <div>Товар добавлен в корзину</div>
                                                  @Html.ActionLink("Перейти в корзину", "Summary", "Cart", new {returnUrl = ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}") },
                                    new { @class = "btn btnOrange"} )
                                              </div>*@

                            </div>
                        </div>

                        <div class="product-info">
                            @Html.ActionLink(product.Name, "ViewProduct", "Home",
                                    new { id = product.Id, returnUrl = "" }, new { @class = "product-title ColourChangeModal" } )
                            @*<h3 class="product-title">@product.Name</h3>*@
                            @*<div class="price">&#8381; @product.Price </div>*@
                        </div>

                    </div>
                </div>
            }

        </div>

    </div>
</section>
<script type="text/javascript">
    if (innerWidth > 768) {
        $(".autoplaySlick").slick(
            {
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                variableHeight: true,
            });
    }
    else {
        $(".autoplaySlick").slick(
            {
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                variableHeight: true,
            });
    }
</script>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script src="~/lib/bootstrap/dist/js/index.js"></script>

@*для модального окна*@
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
